<h1>Schedules#index</h1>
<p>Find me in app/views/schedules/index.html.erb</p>
<form action="">
    <input id="init-date" type="date" value="2019-03-01">
</form>
<form action="">
    <input id="end-date" type="date" value="2019-03-01">
</form>

<button>
    <%= link_to 'Show', new_lot_path %>
</button>

<script>
    

</script>

