  <div class="row my-4">
    <div class="form-group col-md-3">
      <%= events_form.text_field :date_parking_start , id: 'init_date_picker',placeholder:"Fecha de Inicio" %>
    </div>
    <div class="form-group col-md-3">
      <%= events_form.text_field :date_parking_end , id: 'end_date_picker',placeholder:"Fecha de Salida"%>
    </div>
  </div>

  <%= events_form.label :lot_id %>
  <%= events_form.collection_select(:lot_id, Lot.all, :val_lot, :parking_lot, {:class => 'lot_id'})%>